@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #ededed;
  }
}

@layer base {
  :root {
    --max-w-lg: 1440px;
    --max-w-sm: 1000px;
  }
}


body {
  background-color: black !important;;
  background-size: 40px 40px;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.15) 1px, rgba(0, 0, 0, 0) 1px);
}

.large-container {
  max-width: var(--max-w-lg);
  margin: 0 auto;
}

.small-container {
  max-width: var(--max-w-sm);
  margin: 0 auto;
}

.react-flow__viewport,.react-flow__container{
  transform: translate(0px, 0px) scale(1) !important;
}
